* {
    margin: 0;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    font-size: 17px;
    width: 98%;
    position: fixed;
    background-color: #fffcf0;
    z-index: 2;
    margin-top: -50px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.651);
}


.navBar p{
    margin: 5px 30px;
    transition: 0.3s;
}

.navBar p:hover{
    transition: 0.3s;
    color: #a47e1b;
}


.lefttSide {
    display: flex;
    justify-content: left;
}

.rightSide {
    display: flex;
}

.tag {
    display: flex;
    justify-content: center;
    background-color: black;
}

.tag img {
    width: 250px;
}

.Head {
    margin-top: 50px;
    display: flex;
    height: 100%;
    height: 480px;
    width: 100%;
    background-image: url('/public/imgs/adidas.jpg');
    background-size: cover;
    justify-content: center;
    text-align: center;
}

.HeadContent p{
    font-size: 60px;
    font-weight: 900;
    margin: 115px 0px 50px 0px;
}

.HeadContent button {
    display: flex;
    align-items: center;
    width: 170px; 
    padding: 15px;
    background-color: black;
    border: none;
    color: #fff6cc;
    justify-content: space-between;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.4) -4px 4px, rgba(63, 63, 63, 0.3) -9px 9px;
    transition: 0.2s;
}

.HeadContent button:hover {
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.4) -7px 7px, rgba(63, 63, 63, 0.3) -12px 12px;
    background-color: #fff6cc;
    color: black;
}