body {
    background-color: #fffcf0;
    font-family: "myFirstFont";
}

@font-face {
    font-family: "myFirstFont";
    src: url("C:/Users/youssef/Desktop/coding/react js/Home/Big Projects/yeezy/public/T-StarPro-Medium.ttf");
}